// EVENT SEARCH FORM
#search_form {
	line-height: 60px;
	vertical-align: middle;
	position: absolute;
	right: 10%;
	top: 0px;
}

#word_search_input {
	color: black;
	width: 350px;
	height: 30px;
	border-radius: 4px;
	border: 1px  solid;
	font-size: 15px;
	line-height: 30px;
	vertical-align: middle;
}

.form_button {
	color: black;
	width: 45px;
	height: 30px;
	border-radius: 8px;
	border: 1px  solid;
	font-size: 15px;
}

// USERS SEARCH FORM


.search_users {
	display: none;
  position: inherit;
  bottom: 2%;
  right: 1.5%;
}

#word_search_input_users {
  color: black;
  width: 70%;
  height: 30px;
  border-radius: 8px;
  border: 1px #000 solid;
  font-size: 15px;
  line-height: 30px;
  vertical-align: middle;
}

.form_button_users {
  color: black;
  width: 45px;
  height: 30px;
  border-radius: 8px;
  border: 1px #000 solid;
  font-size: 15px;
}


// SEARCH RESULTS PAGES //
//*********************//

.event-search {
	height: 350px;
	img {
		height: 250px;
	}
}
