<div class="container event-show">
	<div id="event-title-bar" class="row">
    	<h1>New Event</h1>
			<div class="event-buttons">
			<%= link_to 'Back', events_path, class: "lnk dan" %>
			</div>
	</div>

      <%= render 'form' %>

</div>
